<div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-textarea readonly="true" class="ion-text-end">{{display}}</ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="addNumber(1);">1</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(2);">2</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(3);">3</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addSymbol('+');">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="addNumber(4);">4</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(5);">5</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(6);">6</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addSymbol('-');">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="addNumber(7);">7</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(8);">8</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(9);">9</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addSymbol('x');">x</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="addSymbol('C');">C</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addNumber(0);">0</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addSymbol('=');">=</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="addSymbol('÷');">÷</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>

